

* {
  margin: 10;
  padding: none;
  box-sizing: border-box;
  font-family: serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #07252d;
}

h1 {
  position: relative;
  font-size: 3.5em;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    color: #0e3742;
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0  10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4,
  }
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container2 .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container2 .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container2 .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 80%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}

.container2 .box:hover:before,
.container2 .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container2 .box:nth-child(1):before,
.container2 .box:nth-child(1):after
{
  background: linear-gradient(315deg,#ffbc00,#ff0058);
}

.container2 .box:nth-child(2):before,
.container2 .box:nth-child(2):after
{
  background: linear-gradient(315deg,#03a9f4,#ff0058);
}

.container2 .box:nth-child(3):before,
.container2 .box:nth-child(3):after
{
  background: linear-gradient(315deg,#4dff03,#00d0ff);
}

.container2 .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.container2 .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate2 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container2 .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1
}

.container2 .box span::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate2 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: 1s;
}

.container2 .box:hover span::after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1
}

@keyframes animate2 {
  0%,100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.container2 .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: 0.5s;
  color: #fff;
}

.container2 .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container2 .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container2 .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container2 .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
}

//footer section

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .sec {
  margin-right: 30px;
}

footer .container3 .sec.aboutus {
  width: 40%;
}

footer .container3 h3 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container3 h3:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p {
  color: #999;
}

.sci {
 margin-top: 20px;
 display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  //background: linear-gradient(315deg,#ffbc00,#ff0058);
  background: #ffbc00;
}

.sci li a:hover {
  background: #f00;
}

.sci li a .fa-github {
  color: #fff;
  font-size: 20px;
}

.sci li a .fa-youtube {
  color: #fff;
  font-size: #fff;
}

.quicklinks {
  position: relative;
  width: 25%;
}

.quicklinks ul li {
  list-style: none;
}

.quicklinks ul li a {
  position: relative;
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quicklinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

// color of the telephone and email
.contact .info li a {
  color: #999;
  text-decoration: none;
}

// telephone and email
.contact .info li a:hover {
  color: purple;
}

.copyrightText {
  width: 100%;
  background: #07252d;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .container3 {
    flex-direction: column;
  }
  footer .container3 .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .container3 .sec.aboutus,
  .quicklinks, .contact {
    width: 100%;
  }
  .copyrightText {
    padding: 8px 40px;
  }
}
